<?xml version="1.0"?>

<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE-OSL.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @package MVentory/CDN
 * @copyright Copyright (c) 2014 mVentory Ltd. (http://mventory.com)
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->

<config>
  <tabs>
    <mventory translate="label" module="cdn">
      <label>mVentory</label>
      <sort_order>100</sort_order>
    </mventory>
  </tabs>

  <sections>
    <cdn translate="label" module="cdn">
      <label>CDN</label>
      <tab>mventory</tab>
      <frontend_type>text</frontend_type>

      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>0</show_in_store>

      <sort_order>50</sort_order>

      <groups>
        <settings translate="label">
          <label>Settings</label>
          <frontend_type>text</frontend_type>

          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>0</show_in_store>

          <sort_order>5</sort_order>

          <fields>
            <access_key translate="label">
              <label>Access Key</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>1</sort_order>
            </access_key>

            <secret_key translate="label">
              <label>Secret Key</label>
              <frontend_type>password</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>2</sort_order>
            </secret_key>

            <bucket translate="label">
              <label>Bucket name</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>3</sort_order>
            </bucket>

            <prefix translate="label">
              <label>Website Prefix</label>
              <frontend_type>text</frontend_type>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>4</sort_order>
            </prefix>

            <resizing_dimensions translate="label comment">
              <label>Resizing Dimensions</label>
              <comment>Example: 300x300, 256x, x500</comment>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>5</sort_order>
            </resizing_dimensions>

            <upload_placeholders>
              <frontend_model>cdn/system_config_form_field_placeholders</frontend_model>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>6</sort_order>
            </upload_placeholders>

            <cache_time translate="label comment hint">
              <label>Browser caching, sec</label>
              <comment>Time to cache the image in the browser. Leave blank to use etag/last-modified.</comment>
              <tooltip>Sets Cache-Control: max-age header to the specified value, if any. 1hr=3600, 1day=86400, 1week=604800, 1mon=2678400, default=15552000=180days.</tooltip>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>7</sort_order>
            </cache_time>
          </fields>
        </settings>
      </groups>
    </cdn>
  </sections>
</config>
